<html lang="fa-IR">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="<?= ROOT_URL; ?>img/logo.webp" alt="نیک پی لوگو" size="16x16">
	<title>تنظیمات کلی | نیک پی</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="noindex, nofollow">
	<link rel="canonical" href="/membership/bank/PaymentTerminal/Settings/Customization/">
	<link rel="stylesheet" href="../../css/style.css">
	<meta property="og:locale" content="fa_IR">
	<meta property="og:type" content="article">
	<meta property="og:title" content="تنظیمات کلی | نیک پی">
	<meta property="og:description" content="">
	<meta property="og:url" content="/membership/bank/PaymentTerminal/Settings/Customization/">
	<meta property="og:site_name" content="نیک پی">
	<meta property="og:image" content="../img/logo.webp">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="">
	<meta name="twitter:title" content="تنظیمات کلی | نیک پی">
	<meta name="twitter:image" content="../img/logo.webp">
</head>
<body>
	<div class="navbar">
		<div style="width:160px;display:flex;float:left;color: white;position:relative;height:55px;"
			onclick="ToggleNavBarMenu();">
			<a style="display:none;width:32px;height:32px;margin:auto;" href="/membership/notification/"> <img
					style="width: 100%;margin-top: 5px;" src="/library/images/notification.webp">
				<div id="NotificationCounter">
				</div>
			</a>
			<div
				style="width:calc(100% - 32px);height:32px;display:flex;margin:auto;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
				<div style="margin: auto;">
					admin admin
				</div>
			</div>
			<div style="width:32px;height:32px;margin:auto 5px;">
				<img src="../../img/user_logo_white.webp" style="width:30px;height:30px;">
			</div>
		</div>
		<div id="HeaderImage" style="display:none;">
			<a href="./?logout=on"> <img src="/library/images/logout_white.webp"> </a>
			<a href="/membership/notification/"> <img src="/library/images/notification.webp">
				<div id="NotificationCounter">
					اعلانات ( 100+ )
				</div>
			</a>
		</div>
		<div id="header_hamburger_button" style="" onclick="ToggleHeaderSideMenu();">
			<div style=""></div>
			<div style=""></div>
			<div style=""></div>
		</div>
		<div id="header_bigsize">
			<div class="dropdown">
				<button class="dropbtn"> <a>منو عمومی</a> <i class="fa fa-caret-down"></i> </button>
				<div class="dropdown-content">
					<div class="" id="">
						<a href="/maintenance/external/paymentservice/">تعمیرگاه سانیار سرویس</a>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn"> <a>منو</a> <i class="fa fa-caret-down"></i> </button>
				<div class="dropdown-content">
					<div class="" id="">
						<a href="../../../../../">منو</a>
					</div>
				</div>
				<div class="dropdown-content">
					<div class="" id="">
						<a href="../../../../../membership/">خانه</a>
						<a href="../../../../../membership/profile/">پروفایل</a>
						<a href="../../../../../library/logout.php">خروج</a>
						<a href="../../../../../membership/bank/PaymentTerminal/V1/">کارتخوان</a>
						<a href="../../../../../membership/tool/sidebyside/">چسباندن عکس کنار هم</a>
						<a href="../../../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/">استعلام
							سریال </a>
						<a href="../../../../../membership/bank/AutomaticTellerMachine/V1/">خودپرداز</a>
						<a href="../../../../../Bank/Registry/">رجیستر پذیرنده</a>
						<a
							href="../../../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off">خروجی
							ترمینال</a>
						<a href="../../../../../membership/maintenance/">تعمیرات کارتخوان</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section id="navbar2" style="">
		<div id="navbar2_content" style="">
			<div>
				<a href="/membership/">داشبورد</a>
			</div>
			<div>
				<a href="/membership/profile/">پروفایل</a>
			</div>
			<div>
				<a style="" href="/membership/message/messenger/"> پیام ها ( 0 ) </a>
			</div>
			<div>
				<a style="" href="/membership/notification/"> اعلانات ( 100+ ) </a>
			</div>
			<div>
				<a href="/membership/admin/">ادمین</a>
			</div>
			<div>
				<a href="./?logout=on">خروج</a>
			</div>
		</div>
	</section>
	<section id="header_smallsize">
		<div class="header_smallsize_topic">
			<a>منو</a>
		</div>
		<div style="width:80%;height:1px;margin: 3px auto;background-color:#333333;"></div>
		<div class="header_smallsize_menu">
			<a href="../../../../../">منو</a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../membership/">خانه</a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../membership/profile/">پروفایل</a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../library/logout.php">خروج</a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../membership/bank/PaymentTerminal/V1/">کارتخوان</a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../membership/tool/sidebyside/">چسباندن عکس کنار هم</a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/">استعلام سریال </a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../membership/bank/AutomaticTellerMachine/V1/">خودپرداز</a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../Bank/Registry/">رجیستر پذیرنده</a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off">خروجی
				ترمینال</a>
		</div>
		<div class="header_smallsize_menu">
			<a href="../../../../../membership/maintenance/">تعمیرات کارتخوان</a>
		</div>
	</section>
	<main>
		<section class="TableSection" id="AccountsPanel">
			<p></p>
			<form action="modify/index.php" method="POST">
				<table>
					<tbody>
						<tr>
							<th>معرف اجباری</th>
							<td><input type="checkbox" name="obligations_presenter" value="checked" checked></td>
						</tr>
						<tr>
							<th>حذف معرف سوم</th>
							<td><input type="checkbox" name="visibility_presenter_3" value="checked" checked></td>
						</tr>
						<tr>
							<th>اندازه مهر ایرانکیش در ویرایشگر</th>
							<td> <input name="editor_size_stamp_irankish" value="160"> </td>
						</tr>
						<tr>
							<th>اندازه مهر سپهر در ویرایشگر</th>
							<td> <input name="editor_size_stamp_sepehr" value="160"> </td>
						</tr>
						<tr>
							<th>اندازه مهر پرداخت نوین در ویرایشگر</th>
							<td> <input name="editor_size_stamp_pardakhtnovin" value="160"> </td>
						</tr>
						<tr>
							<th>اندازه مهر فن آوا در ویرایشگر</th>
							<td> <input name="editor_size_stamp_fanava" value="160"> </td>
						</tr>
						<tr>
							<th>اندازه مهر فن آوا در ویرایشگر</th>
							<td> <input name="editor_size_stamp_saman" value="160"> </td>
						</tr>
						<tr>
							<th>اندازه مهر برابر با اصل در ویرایشگر</th>
							<td> <input name="editor_size_stamp_OrginalPersian" value="160"> </td>
						</tr>
						<tr>
							<th>اندازه مهر خاص در ویرایشگر</th>
							<td> <input name="editor_size_stamp_special" value="160"> </td>
						</tr>
						<tr>
							<th>بستن فرم نصب به خاطر نبود ترمینال</th>
							<td> <input type="checkbox" name="document_close_reason_terminal" value="checked"> </td>
						</tr>
						<tr>
							<th>مبلغ حق نصب</th>
							<td> <input type="text" name="installation_payment_value" value="0"> </td>
						</tr>
						<tr>
							<th>محل انتخاب سریال</th>
							<td> <select name="serialnumber_allocate_place">
									<option value="free" selected>آزاد</option>
									<option value="store">انبار</option>
								</select> </td>
						</tr>
						<tr>
							<td><button>تأیید</button></td>
						</tr>
					</tbody>
				</table>
			</form>
		</section>
	</main>
</body>
</html>


