<section class='side_menu'>
    <div style=''></div>
    <a class='side_menu_topic' style='background-color:inherit;'>
        <img src='./img/paqi_logo.png'></img>
        <p>منو کارتخوان</p>
    </a>
    <a style='width:90%;margin:10px auto;font-size:16px;text-decoration:none;color: white;text-align:center;border-bottom: 1px solid white;'
        href='#'></a>
    <a href='paymentterminal.html' class='side_menu_topic'>
        <img src='./img/home.png'></img>
        <p>میزکار</p>
    </a>
    <a href='newcastumers.html' class='side_menu_topic'>
        <img src='./img/new_acceptor.png'></img>
        <p>ثبت پذیرنده</p>
    </a>
    <a href='caslist.html' class='side_menu_topic'>
        <img src='./img/acceptor.png'></img>
        <p>لیست پذیرنده ها</p>
    </a>
    <a href='terminallist.html' class='side_menu_topic'>
        <img src='./img/pos.png'></img>
        <p>لیست پایانه ها</p>
    </a>
    <a href='requestlist.html' class='side_menu_topic'>
        <img src='./img/request.png'></img>
        <p>لیست درخواست ها</p>
    </a>
    <a href='document.html' class='side_menu_topic'>
        <img src='./img/document.png'></img>
        <p>لیست بایگانی</p>
    </a>
</section><!--side_menu_paymentterminal-->