<html lang='fa-IR'> 
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' href='../../../../../files/logo.webp' alt='نیک پیلوگو' size='16x16'>
    </link>
    <link rel="stylesheet" href="../css/style.css">
    <title>ترمینال</title>
    <script src="/library/jquery/3.3.1.min.js"></script>
</head>
<body>

    <div class='navbar'>
        <div style='width:160px;display:flex;float:left;color: white;position:relative;height:55px;'
            onclick='ToggleNavBarMenu();'>
            <a style='display:none;width:32px;height:32px;margin:auto;' href='/membership/notification/'>
                <img style='width: 100%;margin-top: 5px;' src='/library/images/notification.webp'>
                <div id='NotificationCounter'>
                </div>
                </img>
            </a>
            <div
                style='width:calc(100% - 32px);height:32px;display:flex;margin:auto;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;'>
                <div style='margin: auto;'>admin admin</div>
            </div>
            <div style='width:32px;height:32px;margin:auto 5px;'>
                <img src='/library/images/user_logo_white.webp' style='width:30px;height:30px;'></img>
            </div>
        </div>
        <div id='HeaderImage' style='display:none;'>
            <a href='./?logout=on'>
                <img src='/library/images/logout_white.webp'></img>
            </a>
            <a href='/membership/notification/'>
                <img src='/library/images/notification.webp'>
                <div id='NotificationCounter'>
                    اعلانات
                    (
                    100+ )
                </div>
                </img>
            </a>
        </div>
        <div id='header_hamburger_button' style='' onclick='ToggleHeaderSideMenu();'>
            <div style=''></div>
            <div style=''></div>
            <div style=''></div>
        </div>
        <div id='header_bigsize'>
            <div class='dropdown'>
                <button class='dropbtn'>
                    <a>منو عمومی</a>
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <div class='' id=''>
                        <a href='/maintenance/external/paymentservice/'>تعمیرگاه سانیار سرویس</a>
                    </div>
                </div>
            </div>
            <div class='dropdown'>
                <button class='dropbtn'>
                    <a>منو</a>
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <div class='' id=''><a href='../../../../../'>منو</a></div>
                </div>
                <div class='dropdown-content'>
                    <div class='' id=''><a href='../../../../../membership/'>خانه</a><a
                            href='../../../../../membership/profile/'>پروفایل</a><a
                            href='../../../../../library/logout.php'>خروج</a><a
                            href='../../../../../membership/bank/PaymentTerminal/V1/'>کارتخوان</a><a
                            href='../../../../../membership/tool/sidebyside/'>چسباندن عکس کنار هم</a><a
                            href='../../../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/'>استعلام
                            سریال </a><a href='../../../../../membership/bank/AutomaticTellerMachine/V1/'>خودپرداز</a><a
                            href='../../../../../Bank/Registry/'>رجیستر پذیرنده</a><a
                            href='../../../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off'>خروجی
                            ترمینال</a><a href='../../../../../membership/maintenance/'>تعمیرات کارتخوان</a></div>
                </div>
            </div>
        </div>
    </div>

    <section id='navbar2' style=''>
        <div id='navbar2_content' style=''>
            <div>
                <a href='/membership/'>داشبورد</a>
            </div>
            <div>
                <a href='/membership/profile/'>پروفایل</a>
            </div>
            <div>
                <a style='' href='/membership/message/messenger/'>
                    پیام ها
                    (
                    0 )
                </a>
            </div>
            <div>
                <a style='' href='/membership/notification/'>
                    اعلانات
                    (
                    100+ )
                </a>
            </div>
            <div><a href='/membership/admin/'>ادمین</a></div>
            <div><a href='./?logout=on'>خروج</a></div>
        </div>
    </section>

    <section id='header_smallsize'>

        <div class='header_smallsize_topic'>
            <a>منو</a>
        </div>

        <div style='width:80%;height:1px;margin: 3px auto;background-color:#333333;'></div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../'>منو</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../membership/'>خانه</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../membership/profile/'>پروفایل</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../library/logout.php'>خروج</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../membership/bank/PaymentTerminal/V1/'>کارتخوان</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../membership/tool/sidebyside/'>چسباندن عکس کنار هم</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/'>استعلام سریال </a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../membership/bank/AutomaticTellerMachine/V1/'>خودپرداز</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../Bank/Registry/'>رجیستر پذیرنده</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off'>خروجی
                ترمینال</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../../membership/maintenance/'>تعمیرات کارتخوان</a>
        </div>
    </section>
    <main>

        <section class='side_menu'>
            <div style=''></div>
            <a class='side_menu_topic' style='background-color:inherit;'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/paqi_logo.png'></img>
                <p>منو کارتخوان</p>
            </a>
            <a style='width:90%;margin:10px auto;font-size:16px;text-decoration:none;color: white;text-align:center;border-bottom: 1px solid white;'
                href='#'></a>
            <a href='/membership/bank/PaymentTerminal/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/home.png'></img>
                <p>میزکار</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/costumer/new/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/new_acceptor.png'></img>
                <p>ثبت پذیرنده</p>
            </a>
            <a href='../../../../../membership/bank/PaymentTerminal/V1/terminal/new/?aWRjb2Rl=4950150413'
                class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/new_terminal.png'></img>
                <p>ثبت ترمینال جدید</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/costumer/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>لیست پذیرنده ها</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/terminal/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/pos.png'></img>
                <p>لیست پایانه ها</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/request/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/request.png'></img>
                <p>لیست درخواست ها</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/document/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/document.png'></img>
                <p>لیست بایگانی</p>
            </a>
            <a href='../../../../../membership/bank/PaymentTerminal/V1/costumer/.php?aWRjb2Rl=4950150413'
                class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>اطلاعات پذیرنده</p>
            </a>
            <a href='../../../../../membership/bank/PaymentTerminal/V1/terminal/.php?aWRjb2Rl=4950150413'
                class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/terminal.png'></img>
                <p>سایر پایانه ها</p>
            </a>
            <a href='../../../../../membership/bank/PaymentTerminal/V1/request/.php?aWRjb2Rl=4950150413'
                class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/terminal.png'></img>
                <p>سایر درخواست ها</p>
            </a>
            <a href='../../../../../membership/bank/PaymentTerminal/V1/document/.php?aWRjb2Rl=4950150413'
                class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/document.png'></img>
                <p>سایر مدارک</p>
            </a>

        </section>
        <section id='MainSection'>
            <form style='display: none;' action='./Delete/' id='DeleteRequest' method='POST'></form>
            <form style='display: none;' action='../request/replacement/' id='ReplacementRequest' method='POST'></form>
            <form style='display: none;' action='../request/attribution/' id='AttributionRequest' method='POST'></form>
            <form style='display: none;' target='_blank' action='Help' id='Help' method='GET'></form>
            <form style='display: none;' action='../costumer/.php' id='CostumerView' method='GET'>
                <input style='display:none;' name='aWRjb2Rl' value='4950150413'></input>
            </form>
            <form style='display: none;' action='../document/.php' id='DocumentView' method='GET'>
                <input style='display:none;' name='aWRjb2Rl' value='4950150413'></input>
            </form>
            <form style='display: none;' action='../request/.php' id='RequestView' method='GET'>
                <input style='display:none;' name='aWRjb2Rl' value='4950150413'></input>
            </form>
            <form style='display: none;' action='../terminal/.php' id='TerminalView' method='GET'>
                <input style='display:none;' name='aWRjb2Rl' value='4950150413'></input>
            </form>
            <form style='display: none;' action='../terminal/new/' id='terminal_new' method='GET'>
                <input style='display:none;' name='aWRjb2Rl' value='4950150413'></input>
            </form>
            <form style='display: none;' action='edit/' id='Editor' method='GET'></form>
            <div style='display:flex;flex-direction:column;width:100%;'>
                <article class='Cadre' style='color: #344767;'>
                    <div style='display:flex;'>
                        <p class='CadreTitle' style='width: calc(100% - 220px);'>اطلاعات پایانه (3939) (1)</p>
                        <div style='display:flex;width:200px;'>
                            <form style='display:none;'
                                action='/membership/bank/PaymentTerminal/WebServices/PardakhtNovin/Request/FollowupCode/'
                                id='SendToAPI' method='GET'>
                                <button class='SendButton' name='d2ViaWQ=[]' value=''
                                    style="background-image:url('/membership/bank/images/Inquiry.webp');"></button>
                            </form>
                            <form style='display:flex;'
                                action='/membership/bank/PaymentTerminal/WebServices/PardakhtNovin/New/' id='SendToAPI'
                                method='POST'>
                                <input type='hidden' name='UmVxdWVzdElE' value='7086'></input>
                                <input type='hidden' name='TerminalID' value='3939'></input>
                                <button class='SendButton' name='sid[]' value='3939'
                                    style="background-image:url('../img/api.webp');"></button>
                            </form>
                            <button class='SendButton' form='Editor' name='c2lk' value="3939"
                                style="background-image:url('../img/edit.webp');"></button>
                            <button class='SendButton' form='DeleteRequest' name="sid" value="3939"
                                style="background-image:url('../img/red_cross.webp');"></button>
                        </div>
                    </div>
                    <div class='TableRow4'>
                        <button type='submit' class='PagingButton' name='c2lk' value='3939' form='CostumerView'>اطلاعات
                            پذیرنده</button>
                        <button type='submit' class='PagingButton' name='c2lk' value='3939' form='RequestView'>نمایش
                            درخواست</button>
                        <button type='submit' class='PagingButton' name='c2lk' value='3939' form='DocumentView'>نمایش
                            مدارک</button>
                        <button type='submit' class='PagingButton' form='terminal_new'>پایانه جدید</button>
                    </div>
                    <div class='TableRow4'>
                        <input value='کاربر:'></input>
                        <input value='razmjo'></input>
                        <input value='ویراستار'></input>
                        <input value=''></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='کد قرارداد:'></input>
                        <input value='7086'></input>
                        <input value='کد ملی پذیرنده:'></input>
                        <input value='4950150413'></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='نام پذیرنده:'></input>
                        <input value='فاروق'></input>
                        <input value=' نام خانوادگی پذیرنده:'></input>
                        <input value='رضائی'></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='ترمینال:'></input>
                        <input value=''></input>
                        <input value='کد پذیرندگی'></input>
                        <input value=''></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='کد پیگیری:'></input>
                        <input value=''></input>
                        <input value='پروژه:'></input>
                        <input value='پرداخت نوین'></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='کد مدارک:'></input>
                        <input value=''></input>
                        <input value='کد PSP'></input>
                        <input value=''></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='نام فروشگاه:'></input>
                        <input value='خشکبار رضایی'></input>
                        <input value='صنف:'></input>
                        <input value='خشکبار و آجیل فروش'></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='زمان ثبت:'></input>
                        <input value='1402-10-28 19:20'></input>
                        <input value='زمان فعال سازی'></input>
                        <input value=''></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='نوع ترمینال:'></input>
                        <input value='GPRS'></input>
                        <input value='سریال:'></input>
                        <input value=''></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='وضعیت:'></input>
                        <input value='ارسال به شرکت'></input>
                        <input value='مدل ترمینال:'></input>
                        <input value='NEWLAND/ME31/GPRS'></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='imei:'></input>
                        <input value=''></input>
                        <input value='شماره سیم کارت:'></input>
                        <input value=''></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='علل مردودی و توضیحات :'></input>
                        <input class='bigger_field_TableRow2' name='reason' value='' placeholder=''></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='نام بانک:'></input>
                        <input value='بانک توسعه و تعاون'></input>
                        <input value='شماره حساب:'></input>
                        <input value='291420173955811'></input>
                    </div>
                    <div class='TableRow4'>
                        <input value='شماره شبا'></input>
                        <input class='bigger_field_TableRow2' value='IR130220291402017395581001'></input>
                    </div>
                </article>
            </div>
        </section>
    </main>
</body>
<script>
</script>

</html>