<section class='side_menu'>
    <div style=''></div>
    <a class='side_menu_topic' style='background-color:inherit;'>
        <img src='./img/paqi_logo.png'></img>
        <p>منو تعمیرگاه</p>
    </a>
    <a style='width:90%;margin:20px auto;font-size:16px;text-decoration:none;color: white;text-align:center;border-bottom: 1px solid white;'
        href='#'></a>
    <a href='/membership/maintenance/' class='side_menu_topic'>
        <img src='./img/home.png'></img>
        <p>میزکار</p>
    </a>
    <a href='/membership/maintenance/New/' class='side_menu_topic'>
        <img src='./img/new_acceptor.png'></img>
        <p>ثبت تعمیری</p>
    </a>
    <a href='/membership/maintenance/reception/' class='side_menu_topic'>
        <img src='./img/acceptor.png'></img>
        <p>بخش پذیرش</p>
    </a>
    <a href='/membership/maintenance/triage/' class='side_menu_topic'>
        <img src='./img/acceptor.png'></img>
        <p>تریاژ</p>
    </a>
    <a href='/membership/maintenance/workshop/' class='side_menu_topic'>
        <img src='./img/acceptor.png'></img>
        <p>تعمیرگاه</p>
    </a>
    <a href='/membership/maintenance/Declaration/' class='side_menu_topic'>
        <img src='./img/acceptor.png'></img>
        <p>اعلام هزینه</p>
    </a>
    <a href='/membership/maintenance/QualityControl/' class='side_menu_topic'>
        <img src='./img/acceptor.png'></img>
        <p>کنترل کیفیت</p>
    </a>
    <a href='/membership/maintenance/clearance/' class='side_menu_topic'>
        <img src='./img/new_acceptor.png'></img>
        <p>بخش ترخیص</p>
    </a>
    <a href='/membership/maintenance/archive/' class='side_menu_topic'>
        <img src='./img/new_acceptor.png'></img>
        <p>بخش تحویل</p>
    </a>
    <a href='/membership/maintenance/Report/' class='side_menu_topic'>
        <img src='./img/acceptor.png'></img>
        <p>گزارشگیری</p>
    </a>
    <a href='/membership/maintenance/Setting/' class='side_menu_topic'>
        <img src='./img/acceptor.png'></img>
        <p>تنظیمات</p>
    </a>


</section><!--side_menu_fix_pos-->