<!DOCTYPE html>
<html lang='fa-IR'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' href='../../../files/logo.webp' alt='لوگو نیک پی' size='16x16'>
    </link>
    <link rel="stylesheet" href="../css/style.css">
    <title>  لیست کنترل کیفیت</title>
    <script src='/library/jquery/3.3.1.min.js'></script>

</head>
<body>
    <div class='navbar'>
        <div style='width:160px;display:flex;float:left;color: white;position:relative;height:55px;'
            onclick='ToggleNavBarMenu();'>
            <a style='display:none;width:32px;height:32px;margin:auto;' href='/membership/notification/'>
                <img style='width: 100%;margin-top: 5px;' src='/library/images/notification.webp'>
                <div id='NotificationCounter'>
                </div>
                </img>
            </a>
            <div
                style='width:calc(100% - 32px);height:32px;display:flex;margin:auto;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;'>
                <div style='margin: auto;'>admin admin</div>
            </div>
            <div style='width:32px;height:32px;margin:auto 5px;'>
                <img src='/library/images/user_logo_white.webp' style='width:30px;height:30px;'></img>
            </div>
        </div>
        <div id='HeaderImage' style='display:none;'>
            <a href='./?logout=on'>
                <img src='/library/images/logout_white.webp'></img>
            </a>
            <a href='/membership/notification/'>
                <img src='/library/images/notification.webp'>
                <div id='NotificationCounter'>
                    اعلانات
                    (
                    100+ )
                </div>
                </img>
            </a>
        </div>
        <div id='header_hamburger_button' style='' onclick='ToggleHeaderSideMenu();'>
            <div style=''></div>
            <div style=''></div>
            <div style=''></div>
        </div>
        <div id='header_bigsize'>
            <div class='dropdown'>
                <button class='dropbtn'>
                    <a>منو عمومی</a>
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <div class='' id=''>
                        <a href='/maintenance/external/paymentservice/'>تعمیرگاه سانیار سرویس</a>
                    </div>
                </div>
            </div>
            <div class='dropdown'>
                <button class='dropbtn'>
                    <a>منو</a>
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <div class='' id=''><a href='../../../'>منو</a></div>
                </div>
                <div class='dropdown-content'>
                    <div class='' id=''><a href='../../../membership/'>خانه</a><a
                            href='../../../membership/profile/'>پروفایل</a><a
                            href='../../../library/logout.php'>خروج</a><a
                            href='../../../membership/bank/PaymentTerminal/V1/'>کارتخوان</a><a
                            href='../../../membership/tool/sidebyside/'>چسباندن عکس کنار هم</a><a
                            href='../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/'>استعلام سریال
                        </a><a href='../../../membership/bank/AutomaticTellerMachine/V1/'>خودپرداز</a><a
                            href='../../../Bank/Registry/'>رجیستر پذیرنده</a><a
                            href='../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off'>خروجی
                            ترمینال</a><a href='../../../membership/maintenance/'>تعمیرات کارتخوان</a></div>
                </div>
            </div>
        </div>
    </div>

    <section id='navbar2' style=''>
        <div id='navbar2_content' style=''>
            <div>
                <a href='/membership/'>داشبورد</a>
            </div>
            <div>
                <a href='/membership/profile/'>پروفایل</a>
            </div>
            <div>
                <a style='' href='/membership/message/messenger/'>
                    پیام ها
                    (
                    0 )
                </a>
            </div>
            <div>
                <a style='' href='/membership/notification/'>
                    اعلانات
                    (
                    100+ )
                </a>
            </div>
            <div><a href='/membership/admin/'>ادمین</a></div>
            <div><a href='./?logout=on'>خروج</a></div>
        </div>
    </section>

    <section id='header_smallsize'>

        <div class='header_smallsize_topic'>
            <a>منو</a>
        </div>

        <div style='width:80%;height:1px;margin: 3px auto;background-color:#333333;'></div>

        <div class='header_smallsize_menu'>
            <a href='../../../'>منو</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/'>خانه</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/profile/'>پروفایل</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../library/logout.php'>خروج</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/bank/PaymentTerminal/V1/'>کارتخوان</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/tool/sidebyside/'>چسباندن عکس کنار هم</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/'>استعلام سریال </a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/bank/AutomaticTellerMachine/V1/'>خودپرداز</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../Bank/Registry/'>رجیستر پذیرنده</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off'>خروجی
                ترمینال</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/maintenance/'>تعمیرات کارتخوان</a>
        </div>
    </section>
    <main>
        <style>
            main {
                display: flex;
            }

            .side_menu {
                overflow-y: auto;
                height: calc(100vh - 60px);
                display: flex;
                flex-direction: column;
                background-color: #333333;
                color: #ffffff;
                position: fixed;
                font-size: 14px;
            }

            .side_menu_topic {
                display: flex;
                width: 90%;
                color: white;
                margin: 1px auto;
                border-radius: 3px;
                text-decoration: none;
            }

            .side_menu_topic img {
                margin: auto 8px;
                width: 26px;
                height: 26px;
            }

            .side_menu_topic:hover {
                background-color: #484848;
            }

            @media screen and (min-width:768px) {
                #MainSection {
                    width: calc(100% - 240px);
                    margin-right: 250px;
                }

                .side_menu {
                    width: 240px;
                }

                .side_menu_topic p {
                    display: block;
                }
            }

            @media screen and (max-width:768px) {
                #MainSection {
                    width: calc(100% - 240px);
                    margin-right: 250px;
                }

                .side_menu {
                    width: 240px;
                }

                .side_menu_topic p {
                    display: block;
                }
            }

            @media screen and (max-width:440px) {
                #MainSection {
                    width: calc(100% - 50px);
                    margin-right: 50px;
                }

                .side_menu {
                    width: 50px;
                }

                .side_menu_topic p {
                    display: none;
                }
            }
        </style>
        <section class='side_menu'>
            <div style=''></div>
            <a class='side_menu_topic' style='background-color:inherit;'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/paqi_logo.png'></img>
                <p>منو تعمیرگاه</p>
            </a>
            <a style='width:90%;margin:20px auto;font-size:16px;text-decoration:none;color: white;text-align:center;border-bottom: 1px solid white;'
                href='#'></a>
            <a href='/membership/maintenance/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/home.png'></img>
                <p>میزکار</p>
            </a>
            <a href='/membership/maintenance/New/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/new_acceptor.png'></img>
                <p>ثبت تعمیری</p>
            </a>
            <a href='/membership/maintenance/reception/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>بخش پذیرش</p>
            </a>
            <a href='/membership/maintenance/triage/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>تریاژ</p>
            </a>
            <a href='/membership/maintenance/workshop/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>تعمیرگاه</p>
            </a>
            <a href='/membership/maintenance/Declaration/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>اعلام هزینه</p>
            </a>
            <a href='/membership/maintenance/QualityControl/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>کنترل کیفیت</p>
            </a>
            <a href='/membership/maintenance/clearance/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/new_acceptor.png'></img>
                <p>بخش ترخیص</p>
            </a>
            <a href='/membership/maintenance/archive/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/new_acceptor.png'></img>
                <p>بخش تحویل</p>
            </a>
            <a href='/membership/maintenance/Report/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>گزارشگیری</p>
            </a>
            <a href='/membership/maintenance/Setting/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>تنظیمات</p>
            </a>


        </section>
        <section id='MainSection'>
            <section>
                <a onclick='history.back();'>
                    <button id='ReturnFormButton'>
                        <img src='/membership/navigation/images/return.webp' style='width:100%;'></img>
                    </button>
                </a>
                <a>
                    <button id='ReturnFormButton' form='Export'>
                        <img src='/library/images/Excel.webp' style='width:100%;'></img>
                    </button>
                </a>
                <a style='display:none;' href='/membership/accounting/invoice/Sell/import/'>
                    <button id='ReturnFormButton'>
                        <img src='/library/images/import11.webp' style='width:100%;'></img>
                    </button>
                </a>
                <a>
                    <button id='ReturnFormButton' form="CancelForm">
                        <img src='/library/images/NoFilter.webp' style='width:100%;'></img>
                    </button>
                </a>
                <a>
                    <button id='ReturnFormButton' form="SearchForm">
                        <img src='/library/images/magnifier11.webp' style='width:100%;'></img>
                    </button>
                </a>
                <a>
                    <button onclick="ToggleSideToolbar('SideToolbar');" id='ReturnFormButton' style='float: right;'>
                        <img src='/library/images/more.webp' style='width:100%;'></img>
                    </button>
                </a>
            </section>
            <form id='CancelForm' action='./.' method='GET' style='display: none;'></form>
            <form action='../export/' method='POST' style='display: none;' id='Export'></form>

            <div id='scounter2' style='display:none;'>
            </div>
            <section class='resultat'>

            </section>
            <section class='TableSection'>
                <div style='overflow: auto;width: 100%;position: relative;'>
                    <table style='width: 100%;max-width: 100%;background-color: inherit;'>
                        <form action='' method='GET' id='SearchForm'>
                            <tr>
                                <th class='' style='min-width: 50px;border-top-right-radius: 1rem;'>
                                    <div class='search_div' id='limit' style='width:50px;'>
                                        <label>تعداد</label>
                                        <input name='bGltaXQ=' value='50' style=''></input>
                                    </div>
                                </th>
                                <th class=''>
                                    <div class='search_div' id='customid'>
                                        <label>پیگیری</label>
                                        <input name='Y3VzdG9taWQ=' value=''></input>
                                    </div>
                                </th>
                                <th class=''>
                                    <div class='search_div' id='indate'>
                                        <label>ورود</label>
                                        <input name='aW5kYXRl' value=''></input>
                                    </div>
                                </th>
                                <th class=''>
                                    <div class='search_div' id='serial'>
                                        <label>سریال</label>
                                        <input name='c2VyaWFs' value=''></input>
                                    </div>
                                </th>
                                <th class=''>
                                    <div class='search_div' id='client'>
                                        <label>نام</label>
                                        <input name='Y2xpZW50' value=''></input>
                                    </div>
                                </th>
                                <th class=''>
                                    <div class='search_div' id=''>
                                        <label>نام نماینده</label>
                                        <input name=''></input>
                                    </div>
                                </th>
                                <th class=''>
                                    <div class='search_div' id=''>
                                        <label>مدل</label>
                                        <input name=''></input>
                                    </div>
                                </th>
                                <th class=''>
                                    <div class='search_div' id=''>
                                        <label>خروج</label>
                                        <input name=''></input>
                                    </div>
                                </th>
                                <th class=''>
                                    <div class='search_div' id='mobile'>
                                        <label>نلفن همراه</label>
                                        <input name='bW9iaWxl' value=''></input>
                                    </div>
                                </th>
                                <th id='functional_th_td' style='min-width:60px;border-top-right-radius: 1rem;'>
                                    <a style='display:none;margin-top:8px;margin-bottom:0;' method='GET'>
                                        <button class='more_button' type='submit' style=''>
                                            عملیات
                                        </button>
                                    </a>
                                    0
                                </th>
                            </tr>
                            <button style='display:none;'></button>
                        </form>
                        <tr style="">
                            <td style='width:50px;'>
                                <div class='Counter' style=''>1</div>
                            </td>
                            <td class='LittleScreen'><input value="1704458472"></input></td>
                            <td class='LittleScreen'><input value="1402-10-15"></input></td>
                            <td class='MiddleScreen'><input value=''></input></td>
                            <td class='MiddleScreen'><input value='محمد رابحی'></input></td>
                            <td class='MiddleScreen'><input value='محمد رابحی'></input></td>
                            <td class='MiddleScreen'><input value='pax s58'></input></td>
                            <td class='MiddleScreen'><input value=''></input></td>
                            <td class='MiddleScreen'><input value='09026662007'></input></td>

                            <td id='functional_th_td' style='z-index:;height: 28px;left:0;position: sticky;'>
                                <form action='.php#3' style='margin-bottom:0;' method='GET'>
                                    <button id='more_button3' class='more_button' onclick='toggleTheFunctionalMenu1(3);'
                                        type='button'>
                                        بیشتر
                                    </button>
                                    <input type='hidden' name='c2lk' value='3' style=''></input>
                                    <button
                                        style='display:none;padding: 0;background-color:inherit;border: none;color: white;'
                                        type='button'>
                                        &#x25BC;
                                    </button>
                                </form>
                                <div id='TheFunctionalMenu13' value='3' class='slidemenu_table' style='width:250px;'>
                                    <form action='#'
                                        style='margin:2px 1px;border-radius: 50px;width:100%;background-image: linear-gradient(310deg,#17ad37,#98ec2d);'
                                        method='GET'>
                                        <button type='button' onclick="reporting('3');" class='more_button'>
                                            نمایش
                                        </button>
                                    </form>
                                    <form action='contract/' method='GET' target='_blank'
                                        style='margin:2px 1px;border-radius: 50px;width:100%;background-image: linear-gradient(310deg,#17ad37,#98ec2d);'>
                                        <button class='more_button' name='c2lk' value='3'>
                                            رسید
                                        </button>
                                    </form>
                                    <form action='.php' method='GET'
                                        style='margin:2px 1px;border-radius: 50px;width:100%;background-image: linear-gradient(310deg,#17ad37,#98ec2d);'>
                                        <button class='more_button' name='c2lk' value='3'>
                                            ویرایش
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
            <section id='pagination'>
                <button type='submit' form='SearchForm' name='pagination' value='1'>1</button><input type='number'
                    style='text-align:center;width:40px;background-color:inherit;color:white;border:1px solid white;font-weight: 900;'
                    form='SearchForm' name='pagination' value='1'></input><button type='submit' form='SearchForm'
                    name='pagination' value='1'>1</button>
            </section>
        </section>
    </main>
</body>
<script>

    // نمایش جستجو
    function ToogleSearch(idname) {
        console.log(idname);
        var SearchField = document.getElementById(idname);
        if (SearchField.style.display === 'none') {
            SearchField.style.display = 'flex';
        } else {
            SearchField.style.display = 'none'
        }
    }
    // پیش نمایش اطلاعات
    function reporting(ssid) {
        $.ajax
            ({
                type: "POST",
                url: "../show.php",
                data: { "ssid": ssid },
                success: function (data) {
                    $('.resultat').html(data);
                }
            });
    }


    // دکمه بیشتر
    function toggleTheFunctionalMenu0(id) {
        console.log(id);
        var TheFunctionalMenu0 = document.getElementById('TheFunctionalMenu0' + id);
        if (TheFunctionalMenu0.style.display === 'none') {
            TheFunctionalMenu0.style.display = 'flex';
        } else {
            TheFunctionalMenu0.style.display = 'none'
        }
    }
    function toggleTheFunctionalMenu1(id) {
        console.log(id);
        var TheFunctionalMenu1 = document.getElementById('TheFunctionalMenu1' + id);
        var more_button = document.getElementById('more_button' + id);
        more_button.innerHTML = 'کمتر';
        if (TheFunctionalMenu1.style.display === 'none') {
            TheFunctionalMenu1.style.display = 'flex';
            more_button.innerHTML = 'کمتر';
        } else {
            TheFunctionalMenu1.style.display = 'none'
            more_button.innerHTML = 'بیشتر';
        }
    }


    function SearchOption() {
        var i;
        var input = document.getElementById("SpecialSearcher");
        var filter = input.value.toUpperCase();
        var ul = document.getElementById("SearchList");
        var li = ul.getElementsByTagName("tr");
        for (i = 0; i < li.length; i++) {
            var a = li[i].getElementsByTagName("td")[0];
            var txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    function openslider() {
        var ul2 = document.getElementById("SearchList");
        ul2.style.display = "block";
    }
    function closeslider() {
        var ul10 = document.getElementById("SearchList");
        ul10.style.display = "none";

    }
</script>

</html>