<!DOCTYPE html>
<html lang='fa-IR'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' href='../../../files/logo.webp' alt='لوگو نیک پی' size='16x16'>
    </link>
    <link rel="stylesheet" href="../css/style.css">
    <title>مشخصات در تعمیرگاه تحصصی</title>
    <script src='/library/jquery/3.3.1.min.js'></script>
</head>
<style>
    main {
        display: block;
        margin: 0 auto;
    }
</style>
<body>

    <div class='navbar'>
        <div style='width:160px;display:flex;float:left;color: white;position:relative;height:55px;'
            onclick='ToggleNavBarMenu();'>
            <a style='display:none;width:32px;height:32px;margin:auto;' href='/membership/notification/'>
                <img style='width: 100%;margin-top: 5px;' src='/library/images/notification.webp'>
                <div id='NotificationCounter'>
                </div>
                </img>
            </a>
            <div
                style='width:calc(100% - 32px);height:32px;display:flex;margin:auto;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;'>
                <div style='margin: auto;'>admin admin</div>
            </div>
            <div style='width:32px;height:32px;margin:auto 5px;'>
                <img src='/library/images/user_logo_white.webp' style='width:30px;height:30px;'></img>
            </div>
        </div>
        <div id='HeaderImage' style='display:none;'>
            <a href='./?logout=on'>
                <img src='/library/images/logout_white.webp'></img>
            </a>
            <a href='/membership/notification/'>
                <img src='/library/images/notification.webp'>
                <div id='NotificationCounter'>
                    اعلانات
                    (
                    100+ )
                </div>
                </img>
            </a>
        </div>
        <div id='header_hamburger_button' style='' onclick='ToggleHeaderSideMenu();'>
            <div style=''></div>
            <div style=''></div>
            <div style=''></div>
        </div>
        <div id='header_bigsize'>
            <div class='dropdown'>
                <button class='dropbtn'>
                    <a>منو عمومی</a>
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <div class='' id=''>
                        <a href='/maintenance/external/paymentservice/'>تعمیرگاه سانیار سرویس</a>
                    </div>
                </div>
            </div>
            <div class='dropdown'>
                <button class='dropbtn'>
                    <a>منو</a>
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <div class='' id=''><a href='../../../'>منو</a></div>
                </div>
                <div class='dropdown-content'>
                    <div class='' id=''><a href='../../../membership/'>خانه</a><a
                            href='../../../membership/profile/'>پروفایل</a><a
                            href='../../../library/logout.php'>خروج</a><a
                            href='../../../membership/bank/PaymentTerminal/V1/'>کارتخوان</a><a
                            href='../../../membership/tool/sidebyside/'>چسباندن عکس کنار هم</a><a
                            href='../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/'>استعلام سریال
                        </a><a href='../../../membership/bank/AutomaticTellerMachine/V1/'>خودپرداز</a><a
                            href='../../../Bank/Registry/'>رجیستر پذیرنده</a><a
                            href='../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off'>خروجی
                            ترمینال</a><a href='../../../membership/maintenance/'>تعمیرات کارتخوان</a></div>
                </div>
            </div>
        </div>
    </div>

    <section id='navbar2' style=''>
        <div id='navbar2_content' style=''>
            <div>
                <a href='/membership/'>داشبورد</a>
            </div>
            <div>
                <a href='/membership/profile/'>پروفایل</a>
            </div>
            <div>
                <a style='' href='/membership/message/messenger/'>
                    پیام ها
                    (
                    0 )
                </a>
            </div>
            <div>
                <a style='' href='/membership/notification/'>
                    اعلانات
                    (
                    100+ )
                </a>
            </div>
            <div><a href='/membership/admin/'>ادمین</a></div>
            <div><a href='./?logout=on'>خروج</a></div>
        </div>
    </section>

    <section id='header_smallsize'>

        <div class='header_smallsize_topic'>
            <a>منو</a>
        </div>

        <div style='width:80%;height:1px;margin: 3px auto;background-color:#333333;'></div>

        <div class='header_smallsize_menu'>
            <a href='../../../'>منو</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/'>خانه</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/profile/'>پروفایل</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../library/logout.php'>خروج</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/bank/PaymentTerminal/V1/'>کارتخوان</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/tool/sidebyside/'>چسباندن عکس کنار هم</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/'>استعلام سریال </a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/bank/AutomaticTellerMachine/V1/'>خودپرداز</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../Bank/Registry/'>رجیستر پذیرنده</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off'>خروجی
                ترمینال</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../membership/maintenance/'>تعمیرات کارتخوان</a>
        </div>
    </section>
    <main>
        <style>
            main {
                display: flex;
            }

            .side_menu {
                overflow-y: auto;
                height: calc(100vh - 60px);
                display: flex;
                flex-direction: column;
                background-color: #333333;
                color: #ffffff;
                position: fixed;
                font-size: 14px;
            }

            .side_menu_topic {
                display: flex;
                width: 90%;
                color: white;
                margin: 1px auto;
                border-radius: 3px;
                text-decoration: none;
            }

            .side_menu_topic img {
                margin: auto 8px;
                width: 26px;
                height: 26px;
            }

            .side_menu_topic:hover {
                background-color: #484848;
            }

            @media screen and (min-width:768px) {
                #MainSection {
                    width: calc(100% - 240px);
                    margin-right: 250px;
                }

                .side_menu {
                    width: 240px;
                }

                .side_menu_topic p {
                    display: block;
                }
            }

            @media screen and (max-width:768px) {
                #MainSection {
                    width: calc(100% - 240px);
                    margin-right: 250px;
                }

                .side_menu {
                    width: 240px;
                }

                .side_menu_topic p {
                    display: block;
                }
            }

            @media screen and (max-width:440px) {
                #MainSection {
                    width: calc(100% - 50px);
                    margin-right: 50px;
                }

                .side_menu {
                    width: 50px;
                }

                .side_menu_topic p {
                    display: none;
                }
            }
        </style>
        <section class='side_menu'>
            <div style=''></div>
            <a class='side_menu_topic' style='background-color:inherit;'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/paqi_logo.png'></img>
                <p>منو تعمیرگاه</p>
            </a>
            <a style='width:90%;margin:20px auto;font-size:16px;text-decoration:none;color: white;text-align:center;border-bottom: 1px solid white;'
                href='#'></a>
            <a href='/membership/maintenance/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/home.png'></img>
                <p>میزکار</p>
            </a>
            <a href='/membership/maintenance/New/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/new_acceptor.png'></img>
                <p>ثبت تعمیری</p>
            </a>
            <a href='/membership/maintenance/reception/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>بخش پذیرش</p>
            </a>
            <a href='/membership/maintenance/triage/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>تریاژ</p>
            </a>
            <a href='/membership/maintenance/workshop/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>تعمیرگاه</p>
            </a>
            <a href='/membership/maintenance/Declaration/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>اعلام هزینه</p>
            </a>
            <a href='/membership/maintenance/QualityControl/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>کنترل کیفیت</p>
            </a>
            <a href='/membership/maintenance/clearance/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/new_acceptor.png'></img>
                <p>بخش ترخیص</p>
            </a>
            <a href='/membership/maintenance/archive/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/new_acceptor.png'></img>
                <p>بخش تحویل</p>
            </a>
            <a href='/membership/maintenance/Report/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>گزارشگیری</p>
            </a>
            <a href='/membership/maintenance/Setting/' class='side_menu_topic'>
                <img src='/membership/bank/PaymentTerminal/V1/images/menu/acceptor.png'></img>
                <p>تنظیمات</p>
            </a>


        </section>
        <section id='MainSection'>
            <form action='modify.php' method='post'>
                <article class='label' style=''>
                    <p class='LabelTitle'>عملیات</p>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='تعمیرکار'></input>
                        <select name='serviceman' required>
                            <option value=''>انتخاب تعمیرکار</option>
                        </select>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='وضعیت'></input>
                        <select name='status' required>
                            <option value=''>انتخاب وضعیت</option>
                            <option value='اعلام هزینه'>اعلام هزینه</option>
                            <option value='تعمیرگاه'>تعمیرگاه</option>
                            <option value='غیر قابل تعمیر'>غیر قابل تعمیر</option>
                            <option value='منتظر پذیرش'>منتظر پذیرش</option>
                        </select>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='وضعیت ثانویه'></input>
                        <select name='temporary'>
                        </select>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='وضعیت گارانتی'></input>
                        <select name='guarantee' required>
                            <option value=''>انتخاب وضعیت گارانتی</option>
                            <option value='دارد' selected>دارد</option>
                            <option value='ندارد'>ندارد</option>
                        </select>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='تشریح تعمیرگاه'></input>
                        <input name='about' value=''></input>
                    </div>
                    <div class='TableRow2'>
                        <input id='showcost' autocomplete='off' placeholder='پیش بینی هزینه کلی' disabled></input>
                        <input id='cost' oninput='costFormat();' name='cost' value=''></input>
                    </div>
                </article>
                <article class='label' style=''>
                    <p class='LabelTitle'>مشخصات فردی و محصول</p>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='محصول'></input>
                        <input value='pax s58'></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='سریال'></input>
                        <input value=''></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='علل ارسال'></input>
                        <input value='-مغایرت سریال--کیپد--قاب زیر-'></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='تشریح نماینده'></input>
                        <input value=''></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='وسایل همراه'></input>
                        <input value=''></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='شرکت'></input>
                        <input value='پادرا نیک پی'></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='نرم افزار'></input>
                        <input value='پاسارگاد'></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='تاریخ ورود'></input>
                        <input value='1402-11-03'></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='وضعیت پذیرنده'></input>
                        <input value='ندارد'></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='نام مشتری'></input>
                        <input value='مجیدمجیدی'></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='نام نماینده'></input>
                        <input value='admin admin'></input>
                    </div>
                    <div class='TableRow2'>
                        <input autocomplete='off' placeholder='تلفن همراه مشتری'></input>
                        <input value='09122222222'></input>
                    </div>
                </article>
                <article id='PagingButton'>
                    <button class='SubmitBtn' type='button' onclick="history.back();">قبلی</button>
                    <input type='hidden' value='modify' name='functions'></input>
                    <button class='SubmitBtn' name='c2lk' type='submit' value='5'>ثبت</button>
                </article>
            </form>
        </section>
    </main>
</body>
<style>
</style>
<script>
    function costFormat() {
        var x = Number(document.getElementById('cost').value);
        document.getElementById('showcost').value = 'هزینه کل : ' + x.toLocaleString();
    }
</script>

</html>