<!DOCTYPE html>
<html lang='fa-IR'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='icon' href='https://www.pnikpay.com/files/logo.webp' alt='نیک پی لوگو' size='16x16'>
    <link rel="stylesheet" href="css/style.css">
    </link>
    <title>منو عابر بانک | نیک پی</title>
    <meta name='robots' content='noindex, nofollow'>
    </meta>
</head>
<body>
    <div class='navbar'>
        <div style='width:160px;display:flex;float:left;color: white;position:relative;height:55px;'
            onclick='ToggleNavBarMenu();'>
            <a style='display:none;width:32px;height:32px;margin:auto;' href='/membership/notification/'>
                <img style='width: 100%;margin-top: 5px;' src='/library/images/notification.webp'>
                <div id='NotificationCounter'>
                </div>
                </img>
            </a>
            <div
                style='width:calc(100% - 32px);height:32px;display:flex;margin:auto;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;'>
                <div style='margin: auto;'>admin admin</div>
            </div>
            <div style='width:32px;height:32px;margin:auto 5px;'>
                <img src='/library/images/user_logo_white.webp' style='width:30px;height:30px;'></img>
            </div>
        </div>
        <div id='HeaderImage' style='display:none;'>
            <a href='./?logout=on'>
                <img src='/library/images/logout_white.webp'></img>
            </a>
            <a href='/membership/notification/'>
                <img src='/library/images/notification.webp'>
                <div id='NotificationCounter'>
                    اعلانات
                    (
                    100+ )
                </div>
                </img>
            </a>
        </div>
        <div id='header_hamburger_button' style='' onclick='ToggleHeaderSideMenu();'>
            <div style=''></div>
            <div style=''></div>
            <div style=''></div>
        </div>
        <div id='header_bigsize'>
            <div class='dropdown'>
                <button class='dropbtn'>
                    <a>منو عمومی</a>
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <div class='' id=''>
                        <a href='/maintenance/external/paymentservice/'>تعمیرگاه سانیار سرویس</a>
                    </div>
                </div>
            </div>
            <div class='dropdown'>
                <button class='dropbtn'>
                    <a>منو</a>
                    <i class='fa fa-caret-down'></i>
                </button>
                <div class='dropdown-content'>
                    <div class='' id=''><a href='../../../../'>منو</a></div>
                </div>
                <div class='dropdown-content'>
                    <div class='' id=''><a href='../../../../membership/'>خانه</a><a
                            href='../../../../membership/profile/'>پروفایل</a><a
                            href='../../../../library/logout.php'>خروج</a><a
                            href='../../../../membership/bank/PaymentTerminal/V1/'>کارتخوان</a><a
                            href='../../../../membership/tool/sidebyside/'>چسباندن عکس کنار هم</a><a
                            href='../../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/'>استعلام
                            سریال </a><a href='../../../../membership/bank/AutomaticTellerMachine/V1/'>خودپرداز</a><a
                            href='../../../../Bank/Registry/'>رجیستر پذیرنده</a><a
                            href='../../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off'>خروجی
                            ترمینال</a><a href='../../../../membership/maintenance/'>تعمیرات کارتخوان</a></div>
                </div>
            </div>
        </div>
    </div>

    <section id='navbar2' style=''>
        <div id='navbar2_content' style=''>
            <div>
                <a href='/membership/'>داشبورد</a>
            </div>
            <div>
                <a href='/membership/profile/'>پروفایل</a>
            </div>
            <div>
                <a style='' href='/membership/message/messenger/'>
                    پیام ها
                    (
                    0 )
                </a>
            </div>
            <div>
                <a style='' href='/membership/notification/'>
                    اعلانات
                    (
                    100+ )
                </a>
            </div>
            <div><a href='/membership/admin/'>ادمین</a></div>
            <div><a href='./?logout=on'>خروج</a></div>
        </div>
    </section>

    <section id='header_smallsize'>

        <div class='header_smallsize_topic'>
            <a>منو</a>
        </div>

        <div style='width:80%;height:1px;margin: 3px auto;background-color:#333333;'></div>

        <div class='header_smallsize_menu'>
            <a href='../../../../'>منو</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../membership/'>خانه</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../membership/profile/'>پروفایل</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../library/logout.php'>خروج</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../membership/bank/PaymentTerminal/V1/'>کارتخوان</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../membership/tool/sidebyside/'>چسباندن عکس کنار هم</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../membership/bank/PaymentTerminal/WebServices/Passargad/Query/'>استعلام سریال </a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../membership/bank/AutomaticTellerMachine/V1/'>خودپرداز</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../Bank/Registry/'>رجیستر پذیرنده</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../membership/bank/PaymentTerminal/Export/Terminal/Export/index.php?Acceptor=off'>خروجی
                ترمینال</a>
        </div>

        <div class='header_smallsize_menu'>
            <a href='../../../../membership/maintenance/'>تعمیرات کارتخوان</a>
        </div>
    </section>
    <main>

        <section class='side_menu'>
            <div style=''></div>
            <a class='side_menu_topic' style='background-color:inherit;'>
                <img src='./img/paqi_logo.png'></img>
                <p>منو خودپرداز</p>
            </a>
            <a style='width:90%;margin:10px auto;font-size:16px;text-decoration:none;color: white;text-align:center;border-bottom: 1px solid white;'
                href='#'></a>
            <a href='/membership/bank/PaymentTerminal/' class='side_menu_topic'>
                <img src='./img/home.png'></img>
                <p>میزکار</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/costumer/new/' class='side_menu_topic'>
                <img src='./img/new_acceptor.png'></img>
                <p>ثبت پذیرنده</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/costumer/' class='side_menu_topic'>
                <img src='./img/acceptor.png'></img>
                <p>لیست پذیرنده ها</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/terminal/' class='side_menu_topic'>
                <img src='./img/pos.png'></img>
                <p>لیست پایانه ها</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/request/' class='side_menu_topic'>
                <img src='./img/request.png'></img>
                <p>لیست درخواست ها</p>
            </a>
            <a href='/membership/bank/PaymentTerminal/V1/document/' class='side_menu_topic'>
                <img src='./img/document.png'></img>
                <p>لیست بایگانی</p>
            </a>

        </section>
        <section id="MainSection">
            <section id='FunctionalMenu'>
                <div>
                    <a href='/membership/tool/PostalCode/' class='classification'>
                        <button style=''>
                            <img src='./img/pos1.webp'></img>
                        </button>
                        <p>تأییدیه پستی</p>
                    </a>
                    <a href='/membership/tool/IbanVerificator/' class='classification'>
                        <button style=''>
                            <img src='./img/pos1.webp'></img>
                        </button>
                        <p>تأییدیه شبا</p>
                    </a>
                </div>
                <div>
                    <a href='../Export/' class='classification'>
                        <button style=''>
                            <img src='./img/pos1.webp'></img>
                        </button>
                        <p>خروجی</p>
                    </a>
                    <a href='../Import/' class='classification'>
                        <button style=''>
                            <img src='./img/pos1.webp'></img>
                        </button>
                        <p>ورودی</p>
                    </a>
                </div>
                <div>
                    <a href='../api/' class='classification'>
                        <button style=''>
                            <img src='./img/pos1.webp'></img>
                        </button>
                        <p>وب سرویس</p>
                    </a>
                    <a href='../Activation/' class='classification' style='display:none;'>
                        <button style=''>
                            <img src='./img/pos1.webp'></img>
                        </button>
                        <p>فعال سازی</p>
                    </a>
                </div>
                <div>
                    <a href='../Repository/' class='classification'>
                        <button style=''>
                            <img src='./img/pos1.webp'></img>
                        </button>
                        <p>انبار</p>
                    </a>
                    <a href='../Settings/Customization/' class='classification'>
                        <button style=''>
                            <img src='./img/pos1.webp'></img>
                        </button>
                        <p>تنظیمات</p>
                    </a>
                </div>
            </section>
        </section>
    </main>
</body>

</html>
1